@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}


<h2>Welcome</h2>
<div class="card w-100 mb-2 p-2">
    <p>
        Witaj w naszym sklepie internetowym, specjalizującym się w sprzedaży obuwia wszelkiego rodzaju! Jesteśmy dumni z tego, że możemy zapewnić naszym klientom szeroki wybór stylowych, wygodnych i wysokiej jakości butów, które będą idealne dla różnych okazji i preferencji.
    <br />
        W naszym sklepie oferujemy bogaty asortyment obuwia dla kobiet, mężczyzn i dzieci. Bez względu na to, czy szukasz eleganckich butów na specjalne wyjście, wygodnych sneakersów na codzienne spacery, sportowych butów do biegania, czy też sandałów na letnie wakacje, mamy w czymś dla Ciebie.
        <br />
        W naszym sklepie znajdziesz renomowane marki obuwnicze, które są znane z doskonałej jakości i stylowego designu. Współpracujemy z najlepszymi producentami, aby zapewnić naszym klientom produkty, które spełniają najwyższe standardy.
        <br />
        Dbamy o to, aby zakupy w naszym sklepie były łatwe i przyjemne. Nasza intuicyjna strona internetowa umożliwia wygodne przeglądanie kolekcji obuwia, filtrowanie według marki, rozmiaru, koloru i innych preferencji, co pozwala znaleźć idealne buty dla Ciebie. Dodatkowo, nasz system płatności jest bezpieczny i gwarantuje ochronę Twoich danych osobowych.
        <br />
        Nasi wykwalifikowani pracownicy są gotowi służyć Ci pomocą w każdym momencie. Jeśli masz pytania dotyczące produktów, rozmiaru, dostępności lub potrzebujesz porady, skontaktuj się z naszym zespołem obsługi klienta. Z przyjemnością udzielą Ci niezbędnych informacji i pomogą dokonać najlepszego wyboru.
        <br />
        W naszym sklepie priorytetem jest zadowolenie klienta. Dlatego oferujemy elastyczne opcje dostawy i gwarancję zwrotu w przypadku, gdybyś nie był w pełni zadowolony z zakupionego obuwia.
        <br />
        Zapraszamy do naszego sklepu internetowego i odkrywaj świat obuwia w jednym miejscu. Bądź na bieżąco z najnowszymi trendami, znajdź swoje ulubione modele i ciesz się komfortem i stylowym wyglądem dzięki naszym wysokiej jakości butom.
        <br />
        Zaufaj nam i pozwól nam być Twoim zaufanym sklepem internetowym, w którym znajdziesz wszystko, czego potrzebujesz, aby zadbać o swoje stopy i wyrazić swój unikalny styl poprzez obuwie.
    </p>
</div>
<div class="d-flex justify-content-between">
    <div class="card" style="width: 22rem;">
        <img src="Uploads/start_children_boots.jpg" class="card-img-top" alt="..." width="200" height="250">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card" style="width: 22rem;">
        <img src="Uploads/start_women_boots.jpg" class="card-img-top" alt="..." width="200" height="250">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card" style="width: 22rem;">
        <img src="Uploads/start_men_boots2.jpg" class="card-img-top" alt="..." width="200" height="250">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

<!-- https://picsum.photos ciekawa stromna -->