<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shoe Shop Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="header">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Shoe Shop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Products/Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Makes/Index">Makes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ProductModels/Index">Models</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Types/Index">Types</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
                <form class="d-flex">
                    <input class="searchhere" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2023 - Shoe Shop Site | <span id="amogus">Current Page -</span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        window.onscroll = function () { myFunction() };

        var header = document.getElementsByClassName("navbar");
        var sticky = header[0].offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header[0].classList.add("sticky");
            } else {
                header[0].classList.remove("sticky");
            }
        }
        var currentPage = window.location.pathname.split('/').pop();
        window.addEventListener('DOMContentLoaded', function () {

            var footerTextElement = document.querySelector('.footer span');
            if(currentPage === ''){
                footerTextElement.textContent += ' Home ';
            }
            else{
                footerTextElement.textContent += ' ' + currentPage;
            }

        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
