@page
@model ShoeShop.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Welcome</h2>
<div class="card w-100 mb-2 p-2">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu sagittis ex, ac scelerisque mi. Quisque laoreet quis orci eu fermentum. In lectus leo, ornare non volutpat vel, ultricies vel nibh. Morbi in arcu ut ex accumsan consectetur. Etiam nec orci tempus, molestie enim ut, luctus est. Donec vestibulum, ante eu rutrum sagittis, nibh tellus pulvinar nisi, in dictum odio mi sed ex. Etiam sit amet odio euismod, luctus lectus sit amet, consequat risus.

        Donec quis metus a sapien porta ultricies. Nullam faucibus diam vitae diam mollis commodo. Proin et tellus id nisi semper accumsan sed et leo. Vestibulum eu metus vitae neque varius consequat vel vehicula turpis. Etiam non molestie ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer nunc mi, hendrerit et efficitur eu, lacinia tincidunt ipsum. Ut ornare sapien vel risus volutpat molestie. Donec interdum, elit in lobortis aliquet, massa eros posuere ligula, eget dignissim tortor metus nec urna. Nullam interdum neque mattis lorem efficitur malesuada. Curabitur rhoncus tellus id enim vehicula efficitur. Cras felis felis, volutpat in interdum a, malesuada in mi. Morbi leo erat, sagittis vitae eros a, consequat ornare leo. Nunc eleifend aliquet turpis nec accumsan. Morbi non justo vel leo tempor efficitur et non est.

        Aliquam erat volutpat. Vivamus pretium scelerisque tellus, eu euismod lectus volutpat id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel placerat lorem. Integer dolor tellus, finibus sit amet laoreet in, egestas ac eros. Suspendisse commodo nunc odio, fermentum cursus ex tristique at. Praesent vulputate sollicitudin semper. Phasellus pharetra turpis id nisl rutrum, nec vehicula velit lobortis. Donec ipsum sem, tristique sit amet ligula at, viverra tristique eros. Praesent ac tincidunt magna. Sed vitae velit consequat, rutrum eros fringilla, fringilla arcu. Mauris ultricies, nisl vitae hendrerit eleifend, mauris ligula viverra neque, sed lacinia enim erat eget lectus. Suspendisse tempus dapibus magna eget maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </p>
</div>
<div class="d-flex justify-content-between">
    <div class="card" style="width: 22rem;">
        <img src="Uploads/start_children_boots.jpg" class="card-img-top" alt="..." width="200" height="250">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card" style="width: 22rem;">
        <img src="Uploads/start_women_boots.jpg" class="card-img-top" alt="..." width="200" height="250">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card" style="width: 22rem;">
        <img src="Uploads/start_men_boots2.jpg" class="card-img-top" alt="..." width="200" height="250">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

<!-- https://picsum.photos ciekawa stromna -->